<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>app</display-name>
  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>servlets.ListProducts</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>servlets.AddProduct</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>servlets.UpdateProduct</servlet-class>
  </servlet>
  
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/products/add</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/products/update/*</url-pattern>
    <url-pattern>/products/delete/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddListSales</servlet-name>
    <servlet-class>servlets.AddListSales</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddListSales</servlet-name>
    <url-pattern>/sales</url-pattern>
  </servlet-mapping>
  
</web-app>